@using Fashion_Website.Models

@model KHACHHANG

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Ký</title>

    <!--Bootstrap/CSS-->
    <link href="~/Content/dangky.css" rel="stylesheet" />
    <link href="~/Content/general.css" rel="stylesheet" />
    

</head>
<body>
    <div class="form">
        <div class="layout">
            <div class="img">
                <img src="~/Images/background.png" alt="background" />
            </div>
            <div class="text">
                <div class="group">
                    @using (Html.BeginForm())
                    {
                        <button style="color:black" >THÔNG TIN CHI TIẾT</button>
                    }
                </div>
                <div>
                    @using (Html.BeginForm("DangKyThongTinKhach", "Account"))
                    {
                        <div class="form-group" style="text-align: left;">
                            <label for="fullname"> Họ tên: </label>
                            @Html.TextBox("Hoten", null, new { @class = "form-control", @id = "hoten", required = "required" })
                        </div>
                        <div class="form-group" style="text-align: left;">
                            <label for="identityid">Căn cước công dân: </label>
                            @Html.TextBox("CCCD", null, new { @class = "form-control", @id = "identityid", required = "required" })
                        </div>
                        <div class="form-group" style="text-align: left;">
                            <label for="phonenumber">Số điện thoại: </label>
                            @Html.TextBox("SDT", null, new { @class = "form-control", @id = "phonenumber", required = "required" })
                        </div>
                        <div class="form-group" style="text-align: left;">
                            <label for="mail">Email: </label>
                            @Html.TextBox("Email", null, new { @class = "form-control", @id = "mail", required = "required" })
                        </div>
                        <div class="form-group">
                            <label for="ngaysinh">Ngày sinh: </label>
                            @Html.TextBox("NgaySinh", null, new { @class = "form-control", @id = "ngaysinh", type = "date", placeholder = "dd/mm/yyyy" })
                        </div>
                        <div class="form-group">
                            <label for="gioitinh">Giới Tính: </label>
                            @Html.DropDownListFor(m => m.GioiTinh,
                            new List<SelectListItem>
                            {
                                new SelectListItem{Text="Nam", Value="0"},
                                new SelectListItem{Text="Nữ", Value="1"}}, "Lựa chọn")
                        </div>

                        <button style="margin-top:40px;" type="submit" class="btn sub-btn btn-primary">HOÀN TẤT</button>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>