@model Fashion_Website.Models.KHACHHANG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="wrapper">
    <div class="profile-card js-profile-card">
        <div class="profile-card__img">
            <img src="~/images/avatar.png" alt="profile card">
        </div>

        <div class="profile-card__cnt js-profile-cnt">
            <div class="profile-card__cnt js-profile-cnt">
                <div class="profile-card__name">@Html.DisplayFor(model => model.HoTen)</div>
                <div class="profile-card__txt">Mã Khách Hàng : <strong>@Html.DisplayFor(model => model.MaKH)</strong> </div>
                @{
                    if (Model.GioiTinh == "0")
                    {
                        <div class="profile-card__txt">Giới tính : <strong>Nam</strong> </div>
                    }
                    else
                    {
                        <div class="profile-card__txt">Giới tính : <strong>Nữ</strong> </div>
                    }
                }
                @*<div class="profile-card__txt">Giới tính : <strong>@Html.DisplayFor(model => model.GioiTinh)</strong> </div>*@

                <div class="profile-card-loc">
                    <span class="profile-card-loc__icon">
                        <svg class="icon"><use xlink:href="#icon-location"></use></svg>
                    </span>

                    <span class="profile-card-loc__txt">
                        @Html.DisplayFor(model => model.DiaChi)
                    </span>
                </div>
                <div class="profile-card-ctr">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <input type="submit" value="Delete" class="btn profile-card__button button--orange" />
                        @Html.ActionLink("Back to List", "Index", new { @class = "profile-card__button button--blue" })
                    }
                </div>

            </div>

        <div class="profile-card-message js-message">
            <form class="profile-card-form">
                <div class="profile-card-form__container">
                    <textarea placeholder="Say something..."></textarea>
                </div>

                <div class="profile-card-form__bottom">
                    <button class="profile-card__button button--blue js-message-close">
                    </button>

                    <button class="profile-card__button button--gray js-message-close">
                        Cancel
                    </button>
                </div>
            </form>

            <div class="profile-card__overlay js-message-close"></div>
        </div>

    </div>

</div>




<script>
    var messageBox = document.querySelector('.js-message');
    var btn = document.querySelector('.js-message-btn');
    var card = document.querySelector('.js-profile-card');
    var closeBtn = document.querySelectorAll('.js-message-close');

    btn.addEventListener('click', function (e) {
        e.preventDefault();
        card.classList.add('active');
    });

    closeBtn.forEach(function (element, index) {
        console.log(element);
        element.addEventListener('click', function (e) {
            e.preventDefault();
            card.classList.remove('active');
        });
    });
</script>
