@model IEnumerable<Fashion_Website.Models.KHACHHANG>

@{
    ViewBag.Title = "Danh sách Khách Hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .detail-button {
        background-color: lightblue;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        text-decoration: none;
    }

    .delete-button {
        background-color: red;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        text-decoration: none;
    }

    .edit-button {
        background-color: green;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        text-decoration: none;
    }

    #arrange {
        border-radius: 4px 4px 0 0;
        padding: 10px 20px;
        line-height: 22px;
    }
</style>


<div class="row mt-4">
    <div class="col-6">
        @Html.ActionLink("Thêm khách hàng mới", "Create", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-6">
        <form style="width: 100%; padding-left: 250px;" action="/KhachHang/Index" method="get">
            <div class="form-group">
                <input class="form-control" id="search" type="text" name="search" placeholder="Tìm kiếm khách hàng" value="" />
            </div>
        </form>
    </div>

    <table class="table">
        <tr>
            <td id="arrange">
                <strong>Tùy chọn sắp xếp:</strong>
            </td>
            <td>
                <select id="arrange">
                    <option>A -Z</option>
                    <option>Z - A</option>
                    <option>Theo địa chỉ</option>
                </select>
            </td>
        </tr>
    </table>
    <table class="table">
        <tr>
            <th>
                Họ tên
            </th>
            <th>
                Email
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Địa chỉ
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>

                    <a class="detail-button" href="~/KhachHang/Details?id=@item.MaKH">Chi tiết</a>
                    @if (Session["Role"] != null && Session["Role"].ToString() == "quan_tri_vien")
                    {
                        <a class="edit-button" href="~/KhachHang/Edit?id=@item.MaKH">Cập nhật</a>
                    }
                    @if (Session["Role"] != null && Session["Role"].ToString() == "quan_tri_vien")
                    {
                        <a class="delete-button" href="~/KhachHang/Delete?id=@item.MaKH">Xóa</a>
                    }
                </td>
            </tr>

        }
        <tr>
            <td colspan="4"></td>
            <td>
                <a style="margin:5px 5px 5px 100px;" href="#">[In file Excel]</a><br />
                <a style="margin:5px 5px 5px 100px;" href="#">[In file PDF]</a>
            </td>
        </tr>

    </table>
</div>
