@model IEnumerable<Fashion_Website.Models.CTHOADON>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KichCo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HOADON.MaKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SANPHAM.TenSP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KichCo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThanhTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HOADON.MaKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SANPHAM.TenSP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MACTHD }) |
            @Html.ActionLink("Details", "Details", new { id=item.MACTHD }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MACTHD })
        </td>
    </tr>
}

</table>
