@model Fashion_Website.Models.ADMIN

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>THÔNG TIN NHÂN VIÊN</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaAD)
        @Html.HiddenFor(model => model.avatar)

        <div class="form-group">
            @Html.LabelFor(model => model.HoTen, "Họ và tên", htmlAttributes: new { @class = "control-label col-md-5"})
                @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SDT, "Số điện thoại", htmlAttributes: new { @class = "control-label col-md-5"})
                @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-5", @readonly = "readonly" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgaySinh, "Ngày sinh", htmlAttributes: new { @class = "control-label col-md-5" })
                @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GioiTinh, htmlAttributes: new { @class = "control-label col-md-5" })
                @Html.EditorFor(model => model.GioiTinh, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiaChi, "Địa chỉ", htmlAttributes: new { @class = "control-label col-md-5" })
                @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Username, "Tài khoản", htmlAttributes: new { @class = "control-label col-md-5" })
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserPass, "Mật khẩu", htmlAttributes: new { @class = "control-label col-md-5" })
                @Html.EditorFor(model => model.UserPass, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                @Html.ValidationMessageFor(model => model.UserPass, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TinhTrang, "Tình trạng", htmlAttributes: new { @class = "control-label col-md-5" })
            @Html.DropDownListFor(model => model.GioiTinh,
                         new List<SelectListItem>
                         {
                            new SelectListItem{Text="Nam", Value="M"},
                            new SelectListItem{Text="Nữ", Value="F"}}, "Lựa chọn",
                         new { @class = "form-control", @id = "gioitinh"/*, @readonly = "readonly"*/ })
            @Html.ValidationMessageFor(model => model.TinhTrang, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChucVu, "Chức vụ", htmlAttributes: new { @class = "control-label col-md-5" })
            @Html.DropDownListFor(model => model.ChucVu,
                                     new List<SelectListItem>
                                     {
                                        new SelectListItem{Text="Quản trị viên", Value="quan_tri_vien"},
                                        new SelectListItem{Text="Quản lý cửa hàng", Value="quan_ly_cua_hang"},
                                        new SelectListItem{Text="Nhân viên bán hàng", Value="nhan_vien_ban_hang"}}, "Lựa chọn",
                                     new { @class = "form-control", @id = "gioitinh"/*, @readonly = "readonly"*/ })                @Html.ValidationMessageFor(model => model.ChucVu, "", new { @class = "text-danger" })
                                </div>

        <div class="form-input form-wrapper">
            <label for="previewImg">Xem trước hình</label>
            <div class="col-md-10">
                <img id="target" class="img" src="~/images/@Model.avatar" alt="your image" style="width: 320px; height: 300px;" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input class="btn btn-success button1" type="submit" value="Xác nhận">
            </div>
            
        </div>
    </div>
}
<div>
    @Html.ActionLink("Quay về Danh sách", "Index")
</div>
